@import "settings";
@import "foundation";

$body-font-family: Times, Arial;
// $primary-color: ;
// $secondary-color:

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$pad: 20px; // consider changing to rem to match foundation css units

body {
    background: #222;
    color: #fff;
}

h1, h2, h3, h4 {
    // font-family: 'Codystar';
    font-weight: normal;
    color: $secondary-color;
}

header h1 {
  font-family: 'Codystar';
  background: #3e3e3e;
  color: #fff;
  margin: 0;
  padding: 0 0.9375rem;
}

section.content {
    padding: $pad;
    // display: none; // doesn't play nicely with knockout's visible
}

#sandbox {
    border: none;
    float: right;
}

.stat {
    display: block;
    font-size: 24px;
    color: #eee;
}

dl.sub-nav {
    background: #333;
    padding: 0.25rem 0;
}
dl.sub-nav dd a {
    // color: $primary-color;
    color: #fff;
    font-size: 0.75rem;
}