//- Very, very rough skeleton/mockup of what this page might have
block content
    header First Bytes Society - Admin
    //- menu
    //-     ul
    //-         li Dashboard
    //-         li Students
    //-         li Support

    section(data-bind="visible: !authenticated")
        form(method="post", action="#")
            input(name="user")
            intput(name="password",type="password")
            button() Log In

    section(data-bind="visible: authenticated")
        h1 Stats
        //- ul
        //-     li Total Students
        //-         span(data-bind="value: totalStudents()")
        //-     li Total Programs
        //-         span(data-bind="value: totalPrograms()")
        //-     li Students Online
        //-     li Median Program / Student
        //-         span(data-bind="value: medianPrograms()")
    //- section
    //-     h1 Support
        //- Use some other pre built service for this to start? Intercomm.io
