//- Very rough skeleton of a single student page
block content
    h1= name
    section
        //- date joined, program count, lessons started, etc.

    h1 Support Inquiries

    h1 Programs

    h1 Lessons