extends main

block content
    h1 Sign In
    form(id="signin", method="POST", action="/login/")
        input(name="username", placeholder="Username")
        input(name="password", placeholder="Password")
        button(type="submit") Sign In
