doctype 5
html
  head
    title= title
    link(href="http://fonts.googleapis.com/css?family=Codystar", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/style.css")
    //- todo require.js
    script(src="http://localhost:35729/livereload.js")
    script(src="/components/zepto/zepto.js")
    script(src="/components/ace-builds/src-noconflict/ace.js")
    script(src="/js/editor.js")
  body
    header First Bytes Society
    div#error
    iframe#sandbox(class="sandbox",src="/canvas",width="500",height="500",scrolling="no")
    div#editor(class="editor").
        // Choose a black background
        FB.background(FB.black);
        // Pick up a white paint brush
        FB.fill(FB.white);
        // Paint a rectangle (with your white brush)
        FB.rect(100, 50, 200, 300);

        // What's next? Change the numbers above! For example,
        // make change 100 to 300. Can you you figure out
        // what the numbers do?